.button3 {
	background-color: var(--white);
	min-height: 1rem;
	box-shadow: 0 0.3rem 0.6rem rgba(var(--black), 0.7);
	border: 1px solid var(--dark-grey);
	padding: 0.5rem 0.5rem;
	min-width: 1rem;
	width: auto;
	height: auto;
	color: var(--light-blue);
	font-size: 1rem;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	outline: none;
	cursor: pointer;
}

.black-button3 {
	color: var(--white);
	background-color: var(--light-blue);
	border: 1px solid var(--light-blue);
}

.item-button3 {
	color: var(--red);
}

.product-button3-left {
	margin-left: 0.5rem;
}

.products-button :hover {
	box-shadow: 0 0.3rem 0.6rem rgba(var(--black), 0.5);
}

.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
