.modal {
	background-color: rgba(0, 0, 0, 0.6);
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 290;
	transition: all 0.3s ease-in;
	display: none;
}

@media only screen and (max-width: 37.5em) {
	.modal {
		display: block;
	}
}
