.sidebarbutton {
	display: none;
	width: 3.5rem;
	height: 2.5rem;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	transition: all 0.3s ease-in;
	cursor: pointer;
}

@media only screen and (max-width: 37.5em) {
	.sidebarbutton {
		display: flex;
	}
}
.sidebarbutton:active {
	animation: moveInOut;
	animation-duration: 0.3s;
}

.sidebarbutton div {
	background-color: var(--light-blue);
	width: 90%;
	height: 0.3rem;
}
